@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@1,500&display=swap');
.container{
    width: 80%;
    margin-top: 3vh;
    text-align: center;
}

#movie-overview{
    color: aliceblue;
    margin-top: 2vh;
    font-family: 'Bad Script', cursive;
    font-size: 1.2em;
}

#title{
    color: rgb(157, 85, 193);
    font-size: 2em;
    margin-top: 2vh;
    font-family: 'Genos', sans-serif;
    
}

@media only screen and (min-width: 601px) and (max-width: 1024px){
   #title{
    font-size: 3.5em;
   }
   #movie-overview{
    font-size: 1.8em;
   }
}