@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@1,500&display=swap');

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.each-genre-list{
    display: flex;
    margin-top: 4vh;
    list-style: none;
    width: 100%;
    justify-content: space-evenly;
}

.horror-top-list{
    padding: 0;
    margin-top: 5vh;
    
}

.card-img-top{
    width: 60vw;
    padding-top: 3vh;
}

.card{
    display: flex;
    align-items: center;
    text-align: center;
    width: 90vw;
    margin: 0 auto;
    margin-top: 1vh;
    background: none;
    box-shadow: 0px 0px 17px 2px rgba(0, 0, 0, 0.47);
}

.card-text{
    padding-bottom: 2vh;
    text-align:center;
    padding-top: 2vh;
}

.top-rated-horror-page{
    animation: fadeIn 2s;
    text-align: center;
    margin-top: 3vh;
    background: none;
  
}
.most-popular-list{
    padding: 0;
    margin-top: 5vh;
}
.most-popular-movies-genre{
    animation: fadeIn 2s;
    text-align: center;
    margin-top: 3vh;
    background: none;
}

.btn-back{
    margin-left: 5%;
    margin-top: 3%;
}
#btn-a-back{
    color: white;
}

.btn-primary{
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.47);
}

.h1-genre-container{
    font-family: 'Genos', sans-serif;
    font-size: 2em;
}