h1{
    color: antiquewhite;
    text-align: center;
    padding-top: 3vh;
    font-weight: 300;
}
hr{
    color: aliceblue;
}

#search-genres{
    color: whitesmoke;
    font-weight: 100;
    font-size: 1.2em;
    text-align: center;
    margin-top: 4vh;
}