@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@1,500&display=swap');

#h1-home{
    color: rgba(48, 120, 220, 0.861);
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px solid rgba(48, 120, 220, 0.861);;
    padding-top: 3vh;
    width: 80%;
    font-size: 2.5em;
    font-family: 'Genos', sans-serif;
}
hr{
    color: aliceblue;
}

#search-genres{
    color: whitesmoke;
    font-weight: 100;
    font-size: 1.2em;
    text-align: center;
    margin-top: 4vh;
}