@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nothing+You+Could+Do&display=swap');

.now-playing-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75vh;
    overflow: scroll;
    padding: 0;
    padding-top: 2vh;
    margin-top: 1vh;
}
.now-playing-home{
    color: #BF2EC0;
    font-weight:900;
    font-size: 1.8em;
    text-shadow: -4px 7px 3px rgba(191,46,192,0.77);
    font-family: 'Nothing You Could Do', cursive;
}
.movies-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    padding-top: 2vh;
    border:1px solid black;
    width: 85%;
    border-radius: 15px;
}

.movies-container p{
    color: #BF2EC0;
   font-size: 0.8em;
   width: 80%;
   text-align: center;
   margin-top: 2vh;
}

.movies-container img{
    border-radius: 10px;
}

h3{
    color:antiquewhite;
    font-weight: 200;
    text-align: center;
    padding-top: 2vh;
    margin-bottom: 2vh;
}